
    <div fxLayout="column" fxLayoutAlign="space-around stretch" >
    <button  mat-button (click)="gotoRegistrationPage()">Zahtevi za registraciju</button>
    <button  mat-button (click)="gotoDeniedUsersPage()">Odbijeni korisnici</button>
    <button  mat-button (click)="gotoActiveUsrsPage()">Registrovani korisnici</button>
    <button  mat-button (click)="gotomandatoryDoctorsPage()">Obavezni doktori u operacionim salama</button>
    <button  mat-button (click)="gotoReservationRequestPage()">Zahtevi za slobodne termina operacionih sala</button>
</div>
    


  