.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    padding: 15px;
  }
  
  .example-full-width {
    width: 100%;
  }
  button {
    margin-left: 20px;
    width: 200px;
  }

  mat-table{
    width: 100%;
  }
 
  .add{
    /* float: right; */
    margin-right: 15px;
    margin-top: 35px;
    width: 100% ;
  }
  .change{
    margin-right: 15px;
    margin-top: 35px;
    width: min-content;
        
  }
  mat-icon{
    margin-left: 10px;
    color: gray;
    padding-bottom: 6px;
}