.btn{
    width: 200px;
    text-align: left;

}
.title{
    /* width: 200px; */
    text-align: center;
    
}

.fullBtn{
    width: 450px;
    text-align: left;
}
.montBtn{
    height: 100px;
    width: 130px;
    text-align: left;
}
.month{
    /* width : 20%; */
    display: table;
}

.hasPacient{
    padding-left: 15px;
    padding-bottom: 4px;
    
}

mat-grid-tile{
    background:lightgrey;
   
}
.header
{
    height: 18px;
}
.grid-tile {
    background: whitesmoke;
    
  }
  

 .right{
    float: right;
 }
 .right mat-button-toggle {
    
     width: 50px;
 }